{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <h1>Create a New Post</h1>
    
    <form class="form-container" action="{{ url_for('new_post') }}" method="POST">
        <div class="form-group">
            <label for="title">Title: </label>
            <input id="title" autocomplete="off" autofocus type="text" name="title" required><br>
        </div>

        <div class="form-group">
            <label for="content">Content: </label>
            <textarea id="content" name="content" required></textarea><br>
    
        </div>
        <button class="btn-submit" type="submit">Submit</button>

    </form>
{% endblock %}